/build/
*/build/
/dist/
*/dist/
nbproject/private/
/*.class
*.log
/Java[[]1]/nbproject/private/
/JavaAppH/nbproject/private/
/AppH1/nbproject/private/
/JavaApplication2/nbproject/private/
/JavaApplication4/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication6/nbproject/private/
/JavaApplication7/nbproject/private/
/Exemple/nbproject/private/
/mohammed/nbproject/private/
